<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF=8">
    <title>Sensor Emulator</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/script.js"></script>

</head>
<body>
    
<h1>Hello!<br>
It's start page of your sensor</h1>
<h3>How I can help you?</h3>

<nav class="navigation">
    <ul>
        <li><a href="#">Профиль</a></li><!--
        --><li><a href="http://127.0.0.1:5000/choose">Выбор сенсора</a></li><!--
        --><li><a href="http://127.0.0.1:5000/check_statistic">Проверить статистику</a></li><!--
        --><li><a href="#">Выход</a></li>
    </ul>
    </nav>

</body>

</html>