<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    
</head>
<body>

<h1>Menu of profile<br>
    ID твоей панели: {{id_panel}}</h1>
    <h2>
        Кол-во сенсоров: {{sensors}}<br>
        Кол-во активных сенсоров: {{active_sensors}}<br>
        Средняя Заполненность мусорок: {{mean_fill}}<br>
    </h2>
    <h2> Примерный прогноз (реализовано разными алгоритмами для учитывания рисков) </h2>
    <h3> Обычная регрессия </h3>
    <img src="../static/images/predict_linear.png" alt="Изображение">
    <h3> Дерево решений </h3>
    <img src="../static/images/desition_tree.png" alt="Изображение">
    <h3> XGB </h3>
    <img src="../static/images/XGB.png" alt="Изображение">
    <h3> Random forest </h3>
    <img src="../static/images/XGB.png" alt="Изображение">
    <h2> График средней Заполненности за всё время </h2>
    <img src="../static/images/source.png" alt="Изображение_2">
    
    <a href="http://127.0.0.1:5000">start_page</a>
</body>

</html>