<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/static/script.js"></script>

</head>
<body>

<h2>Menu of Sensor<br>
<br>
ID of sensor 
<p id = "sensor_id" class = "sensor_id" style="display: inline;"> {{sensor_id}}</p>
Статус: <p style="display: inline;" id = "status" class = "status">{{status}}</p><br></h2>

<h3>Адрес: <p style="display: inline;" id = "address" class = "status">{{address}}</p><br>
Заполненность = <p style="display: inline;" id = "percentage" class = "percentage">{{percentage}}%</p><br>
Кол-во объектов/кг = <p style="display: inline;" id = "amount" class = "amount">{{amount}}</p></h3>

<div id="monitoring_data">
    <input type="text" id="add" placeholder="Добавилось:">
    <button onclick="send_data()">Отправить</button>
</div>

<a href="http://127.0.0.1:5000">start_page</a>
<a href="http://127.0.0.1:5000//selection_panel">choose_sensor</a>

</body>
</html>